<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Upload a Textbook</title>
</head>
<body>
  <div>
    <h1>Upload a textbook .csv file to add it to the API</h1>
    <h3>Instructions:</h3>
    <ul>
      <li>Include section numbers in the SECOND COLUMN</li>
      <li>The FIRST COLUMN should have a chapter number (numerical- 1, 2, 3, 4, 5, 6). To indicate that it is a chapter title and not a section title, label the second column 0</li>
      <li>If a textbook has units or parts, use a non-integer identifier in the FIRST COLUMN (like I, Part II, Unit C, Unit 3</li>
      <li>The THIRD COLUMN should have the title of the chapter, section, part, or unit. Remember, if it's a unit or part, use a non-integer value in the first column. If it's a chapter, use an integer value. If it's a section, include the chapter number in the first column and the section identifier (1.1, 3.4, etc.) in the second column. Titles always go in the third column.</li>

    </ul>
    <form action="/textbooknew" method="post" enctype="multipart/form-data">
      <label for="isbn">ISBN Number</label>
      <input type="text" id="isbn" name="isbn"/>
      <br>
      <br>
      <label for="toc">Upload .csv file</label>
      <input id="toc" type="file" name="toc_file">
      <br>
      <br>
      <input type="submit" value="Submit Textbook" />
    </form>
  </div>
</body>
</html>